<div class="container">
  <form>
    <div>
      <label for="to">To</label><br>
      <input ngModel name = "to" #to = "ngModel" type="text" class="to">
    </div>

    <div>
      <label for="subject">Subject</label><br>
      <input ngModel name = "subject" #subject = "ngModel" type="text" class="subject">
    </div>

    <div>
      <label for="content">Content</label><br>
      <textarea ngModel name = "content" #content = "ngModel" type="text" cols="30" rows="10"></textarea>
    </div>

    <div class="bottom">
      <input type="file" class="attach" id="attach" #myAttach>
      <select name="priority" id="priority">
        <option value="3">Very High</option>
        <option value="2">High</option>
        <option value="1">Medium</option>
        <option value="0">Low</option>
      </select>
      <button class="send" (click) = "saveDraft(to.value, subject.value, content.value)">Save to draft</button>
      <button class="send" (click) = "createEmail(to.value, subject.value, content.value)">Send</button>
    </div>

  </form>
</div>
