<div class="container">
  <form>
    <div>
      <label for="to">To</label><br>
      <input id="to" type="text" ngModel>
    </div>

    <div>
      <label for="subject">Subject</label><br>
      <input id = "subject" type="text" ngModel>
    </div>

    <div>
      <label for="content">Content</label><br>
      <textarea id="content" cols="30" rows="10" ngMmodel></textarea>
    </div>

    <div class="bottom">
      <select name="priority">
        <option value="3">Very High</option>
        <option value="2">High</option>
        <option value="1">Medium</option>
        <option value="0">Low</option>
      </select>
      <button class="send" routerLink="/inbox">Save to draft</button>
      <button class="send" routerLink="/inbox">Send</button>
    </div>

  </form>
</div>
