<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="layout">
 
  <section><router-outlet></router-outlet></section>
  <aside>
    <div class="logo">Mail</div>
    <button routerLinkActive="active"><a routerLink="/mail/compose">Compose</a></button>
    <button routerLinkActive="active"><a routerLink="/mail/inbox">Inbox</a></button>
    <button routerLinkActive="active"><a routerLink="/mail/trash">Trash</a></button>
    <button routerLinkActive="active"><a routerLink="/mail/sent">Sent</a></button>
    <button routerLinkActive="active"><a routerLink="/mail/draft">Draft</a></button>
    <button routerLinkActive="active"><a routerLink="/mail/folders">User Folders</a></button>
    <button routerLinkActive="active"><a routerLink="/mail/contacts">Contacts</a></button>
    <button routerLinkActive="active"><a routerLink="/mail/addContact">add Contact</a></button>
    
  </aside>
</div>
