<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="container">
    <div class="login">
        <div class="upper">
            <button class="login" routerLink="/login">Login</button>
            <button class="register">Register</button>
        </div>
        <div class="lower">
            <span class="icon"><i class="material-icons">person</i></span>
            <input ngModel name="email" #email="ngModel" type="email" placeholder="Email"><br>
            <span class="icon"><i class="material-icons">lock</i></span>
            <input ngModel name="password" #password="ngModel" type="password" placeholder="Password"><br>
            <button (click)="register(email.value, password.value)">Register</button>
        </div>
    </div>
</div>
