<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="container">
    <div class="login">
        <div class="upper">
            <button class="login">Login</button>
            <button class="register" routerLink="/register">Register</button>
        </div>

        <div class="lower">
            <span class="icon"><i class="material-icons">person</i></span>
            <input type="email" placeholder="Email"><br>
            <span class="icon"><i class="material-icons">lock</i></span>
            <input type="password" placeholder="Password"><br>
            <button routerLink="/mail/inbox">Login</button>
        </div>
    </div>
</div>
