.container{
  margin-top: 10px;
}
.container div{
  margin-bottom: 40px;
}
input, textarea{
  width: 95%;
  font-size: 15px;
  background-color: transparent;
}
label{
  display: block;
  text-align: left;
  height: 2px;
  font-weight: bold;
  color: #282d36;
  margin-left: 15px;
}
input{
  text-align: left;
  border: none;
  border-bottom: 2px solid #d4d5d8;
}
input:focus{
  outline: none;
  border-bottom: 2px solid #282d36;
}
textarea{
  text-align: left;
  margin-top: 10px;
  border: 2px solid #d4d5d8;
  border-radius: 10px;
  resize: none;
  padding: 1%;
}
textarea:focus{
  outline: none;
  border: 2px solid #282d36;
}
.send{
  color:#d4d5d8;
  font-weight: bold;
  background-color: #1D2127;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
}
.send:hover {
  background-color: #282d36;
}
select{
  padding: 16px 20px;
  border: none;
  border-radius: 10px;
  background-color: #eee;
  font-size: 16px;
  cursor: pointer;
}
select:hover{
  background-color: #d4d5d8;
}
div.bottom{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10%;
  margin: 0 5%;
}
